<footer>
    <div class="d-flex justify-content-center ">
        <div class="icon ">
            <img src="assets/img/twitterlogo.png " style="width: 25px; ">
        </div>
        <div class="icon ">
            <img src="assets/img/instalogo.png " style="width: 25px; ">
        </div>
        <div class="icon ">
            <img src="assets/img/fblogo.png " style="width: 25px; ">
        </div>
        <div class="icon ">
            <img src="assets/img/whatsapplogo.png " style="width: 25px; ">
        </div>
    </div>
    <p class="text-center " style="color: #aaaaad; ">Copyright MOBicure Solution 2021. All right reserved</p>
</footer>