<section class="details container">
    <div class="row">
        <div class="col-md-6">
            <h1>Order your <br> Sexual health <span style="color: #494efa">Products.</span></h1>
            <p>myPaddi shop offers wide range of sexual health products, <br> skincare products and pleasure. From sex toys, lubricants,<br> HIV Test Kits, Lingeries, Contraceptives, Skincare Products <br> And Condoms.</p>
            <a class="nav-link visit" href="#">VISIT SHOP</a>

        </div>
        <div class="col-md-6 text-center image5">
            <img src="assets/img/image5.png" style="width: 1200px;" class="img-fluid">
        </div>
    </div>
</section>

<div class="image4 text-center">
    <img src="assets/img/image4.jpg" style="width: 800px;" class="img-fluid">
</div>

<section class="features">
    <div class="container">
        <h3 class="text-center">Features</h3>
        <p class="text-center" style="color: #aaaaad;"><i>Explore the myPaddi app features</i></p>
        <div class="row row-cols-1 row-cols-md-3 g-4 feature-card">
            <div class="col-md-3">
                <div class="card  w-70 h-100">
                    <img src="assets/img/image3.png " class="card-img-top features-img ">
                    <div class="paraf ">
                        <p class="card-text text-center ">Explore the zone and interact <br> with other young people</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card w-70 h-100 ">
                    <img src="assets/img/image2_177x159.png " class="card-img-top features-img ">
                    <div class="paraf ">
                        <p class="card-text text-center ">Get help with any health <br>issue by chatting with a <br> Doctor or a Counselor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card w-70 h-100 ">
                    <img src="assets/img/image1.png " class="card-img-top features-img ">
                    <div class="paraf ">
                        <p class="card-text text-center ">Listen to your favoriten <br> Audio file every day</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="newsletter ">
    <div class="container ">
        <h3 class="text-center ">Newsletter</h3>
        <p class="text-center " style="color: #aaaaad; ">Get e-mail updates about our Latest news and special offers.</p>
        <form class="row g-3 justify-content-center ">
            <div class="col-auto ">
                <label for="inputEmail " class="visually-hidden ">Email Address</label>
                <input type="text " class="form-control mt " id="inputEmail " placeholder="Email address... ">
            </div>
            <div class="col-auto ">
                <button type="submit " class="btn btn-primary mb-3 ">SUBMIT</button>
            </div>
        </form>
    </div>
</section>